.card {
	width: 100%;
	max-width: 300px;
	border-radius: 16px;
	border: 1px solid black;
	padding: 20px;
}
.card.secondary {
	background-color: gray;
}
.card.primary {
	background-color: green;
}
.card .header {
}
